__pycache__/
*.py[cod]
.venv/
venv/
data/raw/*.csv
data/bronze/
data/processed/*.pkl
data/processed/*.csv
mlflow/
mlruns/
mlflow_tracking/
logs/
.vscode/
.env
*.zip

# dbt build output
dbt/**/target/
dbt/**/dbt_packages/
dbt/**/logs/

# Airflow
airflow/logs/
